@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    @RenderSection("Styles", false)
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="container">
    @RenderBody()
</div>
<script src="~/lib/jquery/js/jquery-3.4.1.slim.min.js"></script>
@RenderSection("Scripts", false)
</body>
</html>