{{ define "masters" }}

<!DOCTYPE html>
<html lang="en">
{{ template "header" }}

<body>
  {{ template "navbar" .LocalUserInfo }}

  <main role="main" class="container">

    <div class="content">

      <h1>Available Masters</h1>

      <table class="table masters-table">
        <tbody>
          {{ range .Masters }}

          <tr>
            <td><a href="/profile?id={{ .Id }}">{{ .Username }}</a></td>
          </tr>

          {{ end }}
        </tbody>
      </table>

    </div>

  </main><!-- /.container -->

  {{ template "footer" }}

</body>

</html>
{{ end }}
