{{ define "navbar" }}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Handy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>

    {{ if not . }}

    <a class="btn btn-primary mr-sm-2" href="/login" role="button">Login</a>
    <a class="btn btn-primary mr-sm-2" href="/register" role="button">Register</a>

    {{ else }}

    <a class="btn btn-primary mr-sm-2" href="/logout" role="button">Logout</a>

    {{ end }}
  </div>
</nav>

{{ end }}
