<html>
<head>
<script src="{{ url_for('static', filename='jquery-3.4.1.slim.js') }}">
</script>
</head>
<body>
  <div style="">
      <div><center>Login</center></div>
      <form action="/login">
          <p>
              <label>Login</label>
              <input name="login_field" type='text' />
          </p>
          <p>
          <label>Password</label>
          <input name="password_field" type='text' />
          </p>
          <input type="submit" value="Login"/>
      </form>
  </div>
  <div style="">
      <div><center>Register</center></div>
      <form action="/register">
           <p>
              <label>Login</label>
              <input name="login_field" type='text' />
          </p>
          <p>
              <label>Password</label>
              <input name="password_field" type='text' />
          </p>
          <input type="submit" value="Register"/>
      </form>
  </div>
</body>
</html>
