<head>
  <link rel="stylesheet"  href="{{ url_for('static', filename='bootstrap.min.css') }}" />
  <script src="{{ url_for('static', filename='jquery-3.2.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
    <div class="container ">
      <h1>Success</h1>
      <div class="alert alert-success">{{ message }} at {{ dt }}</div>
    </div>
</body>
</html>
