[
  {
    rabbit,
      [
        {loopback_users, []},
        {tcp_listeners, []},
        {ssl_listeners, [5672]},
        {ssl_options, [{cacertfile, "/etc/rabbitmq/root-ca.pem"},
                       {certfile,   "/etc/rabbitmq/node.pem"},
                       {keyfile,    "/etc/rabbitmq/node-key.pem"},
                       {verify, verify_none},
                       {fail_if_no_peer_cert, false}]}
      ]
  },
  {
    rabbitmq_management,
      [
        {load_definitions, "/etc/rabbitmq/definitions.json"}
      ]
  }
].
